include COPYING
include *.rst

include .coveragerc

include doc/*.rst
include doc/conf.py

include extra/_hubugs
include extra/doap.rdf
include extra/requirements*.txt

include hubugs.py
include hubugs/*.crt
include hubugs/locale/hubugs.pot
include hubugs/locale/*/LC_MESSAGES/*.mo
include hubugs/locale/*/LC_MESSAGES/*.po
include hubugs/templates/*/*/*.mkd
include hubugs/templates/*/*/*.txt

include nose2.cfg

include tests/*.py
